.profile__button-edit {
    border: solid 1px #FFFFFF;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    background-image: url(../../../images/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    background-size: 7.5px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.profile__button-edit:hover {
    opacity: 0.6;
 }
 
@media (min-width: 1023px) {
    .profile__button-edit {
        width: 24px;
        height: 24px;
        background-size: 10px;
    }
}









