.popup__open-title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    font-family: "Inter", Arial, sans-serif;
    max-width: 240px;
    align-self: self-start;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}