.popup__tooltip_title {
    max-width: 244px;
    min-height: 48px;
    width: 100%;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0 auto 50px;
}