.header__email {
   width: 100%;
   color: #FFF;
   max-width: 104px;
   font-family: Inter;
   font-size: 10px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

@media (min-width: 767px) {
    .header__email {
        max-width: 141px;
        width: 100%;
        min-height: 22px;
        color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin: 0 24px 0 46px;
    } 
        
}