.auth__signi {
    min-width: 260px;
    min-height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 80px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}