.profile__avatar {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/penTwo.svg);
    background-position: center;
    background-size: 26px;
    background-repeat: no-repeat;
    border-radius: 50%;
}


@media (min-width: 1024px) {
    .profile__avatar {
        margin: 0 30px 0 0;
    }
}
