.auth__button {
    min-width: 260px;
    min-height: 46px;
    border: none;
    border-radius: 2px;
    background-color: #FFF;
    padding: 0;
    margin: 143px auto 20px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: opacity 1s ease;
}

.auth__button:hover {
    opacity: 0.8;
 }

 @media (min-width: 1023px) {
    .auth__button {
        max-width: 358px;
        min-height: 50px;
        font-size: 18px;
        margin: 186px auto 15px;
    } 
        
}