.auth__title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    max-width: 260px;
    width: 100%;
    margin: 0 0 40px 0;
}

@media (min-width: 1023px) {
    .auth__title {
        max-width: 358px;
        font-size: 24px;
        margin-bottom: 50px;
    } 
        
}