.popup__container-open {
    margin: 136px auto 133px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 240px;
    width: 100%;
    padding: 0;
    max-height: 75vh;
}

@media (min-width: 767px) {
    .popup__container-open {
        max-width: 433px;
        margin: 90px auto 68px;
    }
}

@media (min-width: 1023px) {
    .popup__container-open {
        max-width: 816px;
    }
}

