.profile__info {
    padding: 26px 0 0 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 18px;
    column-gap: 10px;
    row-gap: 14px;
    margin: 0 auto;
    max-width: 282px;
}


@media (min-width: 1023px) {
    .profile__info {
        grid-template-columns: 1fr 24px;
        column-gap: 18px;
        row-gap: 16px;
        padding: 0;
        margin: 0 244px 0 0;
        max-width: 336px;
        justify-items: left;
    }
}

