.group__btn {
    background-image: url(../../../images/iconHard.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(0,0,0,0);
    padding: 0;
    border: none;
    align-self: center;
    cursor: pointer;
    transition: opacity 1s ease;
    box-sizing: border-box;
    width: 22px;
    height: 19px;
}

.group__btn:hover {
   opacity: 0.5;
}

