.auth__input {
    max-width: 260px;
    width: 100%;
    margin: 0 auto 30px;
    border: none;
    border-bottom: solid 2px #cccccc;
    background-color: black;
    color: #cccccc;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 13px;
    outline: none;
}



